{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements"
  ]
}